In [20]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model
from sklearn.cross_validation import train_test_split

In [2]:
from sklearn.datasets import load_boston
boston = load_boston()

In [3]:
print(boston.data.shape)

(506, 13)

In [6]:
x = pd.DataFrame(boston.data,columns=boston.feature_names)

In [5]:
y = pd.DataFrame(boston.target)

In [7]:
x.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.593761,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063
std,8.596783,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000
75%,3.647423,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

In [8]:
reg = linear_model.LinearRegression()

In [9]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25)

In [10]:
x_train.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
327,0.24103,0.0,7.38,0.0,0.493,6.083,43.7,5.4159,5.0,287.0,19.6,396.90,12.79
37,0.08014,0.0,5.96,0.0,0.499,5.850,41.5,3.9342,5.0,279.0,19.2,396.90,8.77
225,0.52693,0.0,6.20,0.0,0.504,8.725,83.0,2.8944,8.0,307.0,17.4,382.00,4.63
34,1.61282,0.0,8.14,0.0,0.538,6.096,96.9,3.7598,4.0,307.0,21.0,248.31,20.34
396,5.87205,0.0,18.10,0.0,0.693,6.405,96.0,1.6768,24.0,666.0,20.2,396.90,19.37

In [11]:
reg.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [29]:
z = reg.predict(x_test)

In [30]:
z

array([[17.66270209],
       [23.53097004],
       [28.51245356],
       [ 8.29094199],
       [24.82446669],
       [34.65565063],
       [27.50502562],
       [41.63602702],
       [24.806126  ],
       [27.87421771],
       [27.72213146],
       [32.44086976],
       [23.42647513],
       [32.04620126],
       [17.99123314],
       [18.36319486],
       [23.77001064],
       [16.5936814 ],
       [27.78393234],
       [31.98970978],
       [22.67843027],
       [15.73503238],
       [33.94667202],
       [23.02185838],
       [19.37350753],
       [18.00873182],
       [15.35123537],
       [21.46088392],
       [36.43047409],
       [15.70586312],
       [10.46495432],
       [ 9.69739485],
       [36.66994817],
       [27.06017399],
       [19.05540076],
       [21.52502673],
       [13.4870317 ],
       [21.21097813],
       [18.50059598],
       [ 6.78662112],
       [11.65837168],
       [18.54823579],
       [20.09439738],
       [34.39455593],
       [20.83229468],
       [20.25933917],
       [24.88909824],
       [18.6749654 ],
       [ 9.63449925],
       [19.6958523 ],
       [19.76029415],
       [22.56178609],
       [17.63450772],
       [20.99939551],
       [16.17023925],
       [27.39830703],
       [36.53552869],
       [14.25817915],
       [25.64594158],
       [18.57724384],
       [16.06703273],
       [15.8732779 ],
       [13.08760815],
       [15.8316685 ],
       [31.96562854],
       [25.06041264],
       [19.09491427],
       [22.05572511],
       [39.46230755],
       [17.79104358],
       [13.50715081],
       [36.88465055],
       [23.83698912],
       [17.18295999],
       [41.62707673],
       [18.85034226],
       [20.76579479],
       [13.30129012],
       [17.19480213],
       [28.42277836],
       [20.92276658],
       [18.36039406],
       [17.22609147],
       [37.19775479],
       [20.36592878],
       [30.83854244],
       [ 7.10822695],
       [20.85445244],
       [33.0251301 ],
       [24.85867776],
       [29.81847742],
       [27.01382461],
       [26.28937343],
       [14.74681517],
       [25.59102405],
       [20.08895306],
       [19.42853426],
       [24.07594691],
       [12.90615137],
       [17.82926119],
       [21.94242381],
       [18.6027374 ],
       [33.75243931],
       [ 8.52508599],
       [13.16846408],
       [23.41787584],
       [23.28222403],
       [23.53210255],
       [37.49637751],
       [28.64174335],
       [14.44650964],
       [26.51181212],
       [20.63852801],
       [36.21576701],
       [28.97481869],
       [30.91061665],
       [12.24069785],
       [20.9926291 ],
       [33.42257144],
       [26.874112  ],
       [23.95488386],
       [25.45884433],
       [23.76588082],
       [21.75343187],
       [26.98769454],
       [17.14139252],
       [26.10611251]])

In [31]:
z[8]

array([24.806126])

In [18]:
y_test

        0
446  14.9
172  23.1
199  34.9
144  11.8
213  28.1
228  46.7
344  31.2
162  50.0
185  29.6
80   28.0
503  23.9
290  28.5
116  21.2
192  36.4
209  20.0
10   15.0
62   22.2
450  13.4
85   26.6
99   33.2
38   24.7
136  17.4
281  35.4
76   20.0
15   19.9
443  15.4
355  20.6
340  18.7
258  36.0
427  10.9
..    ...
43   24.7
245  18.5
211  19.3
86   22.5
381  10.9
157  41.3
48   14.4
440  10.5
471  19.6
501  22.4
53   23.4
226  37.6
92   22.9
346  17.2
111  22.8
493  21.8
256  44.0
200  32.9
88   23.6
400   5.6
78   21.2
275  32.0
168  23.8
353  30.1
293  23.9
480  23.0
342  16.5
343  23.9
380  10.4
87   22.2

[127 rows x 1 columns]

In [32]:
np.mean((z - y_test)**2)

0    21.207121
dtype: float64